@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter",sans-serif;
}
body{
    background-color:#222222;
    margin: 0;
}

.back_img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
    color: rgb(255, 255, 255);
    
    margin: 0;
}
.back_img img{
    width: 100%;
    height: 100%;
}
.haut{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.sitename{
    font-weight: bold;
    display: flex;
    gap: 20px;
    padding: 5px 0 5px 5px;
    font-size: 24px;
    width: 15%;
    border-radius: 0 0 16px 0;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.9);
}
.sitename a{
    text-decoration: none;
    color: white;
}
.sitename img{
    height: 30px;
    transition: transform 0.3s ease;
}
.sitename img:hover{
    transform: scale(1.05);
}
.nickname{
    font-weight: bold;
    display: flex;
    justify-content: end;
    
    font-size: 24px;
    border-radius: 0 0 0 8px;

    
}
.ajoute{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 16px;
}
.nick{
    display: flex;
    align-items: center;
    height: 32px;
    padding-top: 2px;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    margin-left: 0;
    padding: 4px 5px 4px 10px;
}

.nick img{
    height: 30px;
}
.nickname a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nickname img{
    border-radius: 50%;
    width: 30px;
    transition: transform 0.3s ease;
}
.nickname img:hover{
    transform: scale(1.05);
}
.titre{
    position: absolute;
    width: 30%;
    height: 30%;
    top: 23%;
    left: -1%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(201, 201, 201);
    transition: 0.3s;
}
.titre img{
    width: 100%;
    height: 100%;
}
p{
    color: rgb(202, 202, 202);
}
form{
    display: flex;
    position: relative;
}
form button{
    border-radius: 0 8px 8px 0;
    background-color: rgba(115, 31, 161, 1);
    border: none;
    width: 40px;
    height: 36px;
}
form button img{ 
    width: 80%;
}
form button:hover{
    background-color: rgb(187, 187, 187);
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px 10px 20px;
    padding-bottom: 15px;
    width: 95%;
    border-bottom: 1px solid;
    border-bottom-color: darkgrey;
}
.rond{
    gap: 4px;
}

.rond button{
    border-radius: 30px;
    height: 40px;
    width: 130px;
    cursor: pointer;
    border: none;
    background-color: #222222;
    color: white;
}
.button.active{
        background-color: rgb(110, 110, 110);
}
.rond button:hover{
    background-color:rgb(110, 110, 110);
    transition: 0.3s;
}
.arrondi{
    display: flex;
    gap: 10px;
}
.arrondi input,button{
    font-weight: bold;
    height: 35px;
    background-color: #0f0f0f;
    color: rgb(255, 255, 255);
    border-style: groove;
}
.arrondi button{
    cursor: pointer;
    border-color: rgba(115, 31, 161, 1);
}
.arrondi button:hover{
    background-color: rgba(115, 31, 161, 1);
    transition: 0.3s;
}
.arrond{
    border-radius: 8px;
    display: flex;
    gap: 3px;
    padding: 4px;
    align-items: center;
}
.filter{
    width: 110px;
}
.filter img{
    width: 20%;
    height: 100%;
}
.sort{
    width: 70px;
}
.sort img{
    width: 50%;
    height: 100%;
}
.arrond:hover{
    border-color: rgba(0, 0, 0, 0.1);
}

.arrondi input{
    cursor: auto;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 8px 0 0 8px;
}
p{
    margin-left: 20px;
}
.games_block{
    display: flex;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 21em);
    grid-template-rows: repeat(3,250px);
    gap: 50px 32px;
    margin: 10px 20px 10px 20px;
}
.games_block img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.game{
    transition: transform 0.3s ease;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.game:hover{
    transform: scale(1.007);
}
.sousimg img{
    width: 20px;
    height: 20px;
}
.sousimg p{
    margin: 0;
}
.avatar{
    display: flex;
}
.avatar p{
    padding-left: 2px;
}
.sousimg{
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 0px 10px;
}
.pub{
    grid-column: 4/5;
    grid-row: 4/1;
    width: 45%;
    margin-left: 20px;
    height: 90%;
    background-color: rgb(0, 117, 126);
    border: none;
    border-radius: 0;
}

.pub img{
    border-radius: 0;
}
.text{
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 2vw;
    padding-bottom: 1vh;
    padding-top: 2vh;
    font-size: large;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer{
    position: absolute;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 20px 20px 20px;
}
.liens{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px ;
    border-top: 1px solid gray;
    padding: 10px;
}
.liens a{
    color: white;
    text-decoration: none;
}
.liens a:hover{
    color: rgb(153, 153, 153);
}
.reseau{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    gap: 50px;
    margin-bottom: 70px;
    border-top: 1px solid gray;;
}
.reseau img{
    width: 30px;
    height: 30px;
    padding-top: 20px;
}
.icon{
     transition: transform 0.3s ease;
     
}
.icon:hover{
    transform: scale(1.1);
}
