@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}
body{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color:#222222;
    margin: 0;
}

.back_img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: rgb(255, 255, 255);
    height: 40dvh;
    margin: 0;
}
.back_img img{
    width: 100%;
    height: 100%;
}
.haut{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.sitename{
    font-weight: bold;
    display: flex;
    gap: 20px;
    padding: 8px 0 5px 5px;
    font-size: 24px;
    width: 15%;
    border-radius: 0 0 16px 0;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
}
.sitename a{
    text-decoration: none;
    color: white;
}


.nickname{
    display: flex;
    justify-content: end;
    padding: 8px 5px 5px 20px;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0 0 0 12px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.nickname a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nickname img{
    border-radius: 50%;
    width: 30px;
    transition: transform 0.3s ease;
}
.nickname img:hover{
    transform: scale(1.05);
}
.titre{
    position: absolute;
    width: 30%;
    height: 30%;
    top: 6%;
    left: 1%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(201, 201, 201);
    transition: 0.3s;
}
.titre img{
    width: 100%;
    height: 100%;
}
p{
    color: rgb(202, 202, 202);
}

form{
    display: flex;
    position: relative;
}
form button{
    border-radius: 0 8px 8px 0;
    background-color: rgba(115, 31, 161, 1);
    border: none;
    width: 40px;
    height: 36px;
}

form button:hover{
    background-color: rgb(187, 187, 187);
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px 10px 20px;
    padding-bottom: 15px;
    width: 95%;
    border-bottom: 1px solid;
    border-bottom-color: darkgrey;
}
.rond{
    gap: 4px;
}

.rond button{
    border-radius: 30px;
    height: 40px;
    width: 20vh;
    cursor: pointer;
    border: none;
    background-color: #222222;
    color: white;
}
.button.active{
        background-color: rgb(110, 110, 110);
}


.rond button:hover{
    background-color:rgb(110, 110, 110);
    transition: 0.3s;
}
.arrondi{
    display: flex;
    gap: 10px;
}
.arrondi input,button{
    font-weight: bold;
    height: 36px;
    background-color: #0f0f0f;
    color: rgb(255, 255, 255);
    border-style: groove;
}
.arrondi button{
    cursor: pointer;
    border-color: rgba(115, 31, 161, 1);
}
.arrondi button:hover{
    background-color: rgba(115, 31, 161, 1);
    transition: 0.3s;
}

.arrond{
    border-radius: 8px;
    display: flex;
    gap: 3px;
    padding: 4px;
    align-items: center;
}
.filter{
    width: 110px;
}


.arrond:hover{
    border-color: rgba(0, 0, 0, 0.1);
}

.arrondi input{
    cursor: auto;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 8px 0 0 8px;
}
.arrondi input:focus{
    border: 1px solid blueviolet;

}




/* Slider */

.swiper{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 50px 0;
}

.swiper-slide img{
        width: 100%;
        height: 100%;
        border-radius: 6px;
}

.swiper-slide{
    cursor: pointer;
    position: relative;
    margin: 20px 0 40px 0;
    width:  320px !important;
    height: 450px !important;
    border-radius: 6px;
}



.swiper-slide-active {
      transform: scale(1.1);
      border: 3px solid blueviolet;
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}

.swiper-button-next,
.swiper-button-prev {
      color: white;
      
}

.valider{
    display: flex;
    justify-content: end;
    margin: 0 40px 10px 0;
    height: 40px;
    
}
.valider button{
    cursor: pointer;
    display: flex;
    gap: 2px;
    flex-direction: row;
    background-color: #222222;
    border: none;
}
.valider h2:hover{
    color: blueviolet;
    transition: 0.3s ease;
}
.valider img{
    
    height: 25px;
}



@media (min-width: 200px) and (max-width:1000px){
    *{
        font-size: 12px;
    }
    .back_img{
        height: 25dvh;
    }
    .sitename a{
        font-size: 16px;
    }
    .sitename img{
        height: 20px;
    }
    .sitename{
        height: 30px;
        width: 20%;
        gap: 5px;
    }

    .nickname{
        height: 30px;
        gap: 5px;
    }
    .nickname a{
        font-size: 16px;
    }
    .nickname img{
        width: 20px;
        height: 20px;
    }


    .filter{
        width: 100px;
        height: 35px;
    }
   
    .arrondi input::placeholder{
        font-size: 12px;
    }
    .arrondi input{
        height: 35px;
        width: 150px;
        
    }
    form button{
        height: 35px;
    }
    .arrond{
        padding: 10px
    }
    .filter button{
        width: 200px;
    }
    .arrondi img{
        height: 25px;
        width: 25px;
    }
     .filter img{
        height: 25px;
        width: 20px;
    }
    .arrondi input:focus{
    height: 35px;
    }
    .rond button{
        font-size: 13px;
        width: 90px;
        height: 35px;
    }




    .swiper-slide{

    width:  200px !important;
    height: 300px !important;
    border-radius: 8px;
    }
}


@media (min-width: 1400px) and (max-width:1599px){
    .sitename{
        height: 45px;
    }

    .nickname{
        height: 45px;
    }

    .nickname img{
    width: 30px;
    height: 30px;
    }
    
    a{
        font-size: 22px;
    }

    .filter{
        font-size: 15px;
        width: 130px;
        height: 40px;
    }

    .arrondi input::placeholder{
        font-size: 16px;
    }
    .arrondi input{
        height: 40px;
        width: 280px;
    }
    .arrondi input:focus{
    border: 1px solid blueviolet;
    height: 40px;
}
    .rond button{
        font-size: 16px;
        width: 100px;
        height: 47px;
    }

    .search{
        width: 50px;
        height: 40px;
    }
    form button{
        height: 40px;
    }


        .valider{
    height: 70px;
    
    }
    .valider button{
        gap: 5px;
    }
    .valider img{
        height: 30px;
    }

}

@media (min-width: 1600px) and (max-width:1919px){
    *{
        font-size: 20px;
    }

    .sitename{
        height: 60px;
        gap: 10px;
    }
    .nickname{
        height: 60px;
        gap: 10px;
    }

    .nickname img{
        width: 40px;
        height: 40px;
    }

    a{
        font-size: 25px;
    }

    .filter{
        font-size: 17px;
        width: 140px;
        height: 47px;
    }
    .arrondi input::placeholder{
        font-size: 18px;
    }
    .arrondi input{
        height: 45px;
        width: 320px;
    }
    .arrondi input:focus{
    border: 1px solid blueviolet;
    height: 42px;
}
    .rond button{
        font-size: 18px;
        width: 140px;
        height: 47px;
    }

    .search{
        width: 50px;
        height: 47px;
    }
    .search img{
        width: 30px;
    }
    .filter button{
        width: 160px;
        height: 54px;
    }


    .back_img{
        width: 100%;
        height: 35vh;
    }

    
    .show p{
        font-size: 17px;
    }
    .show img{
        height: 35px;
        width: 40px;
    }

        .valider{
    height: 70px;
    
    }
    .valider button{
        gap: 5px;
    }
    .valider img{
        height: 50px;
    }

}

@media (min-width: 1920px) {
    *{
        font-size: 20px;
    }

    .ajoute{
        width: 100px;
        padding: 0 10px 0 10px;
    }
    .sitename{
        height: 70px;
        gap: 10px;
    }
    .nickname{
        height: 70px;
        gap: 10px;
    }

    .nickname img{
    width: 45px;
    height: 45px;
    }

    a{
        font-size: 30px;
    }

    .filter{
        width: 163px;
        height: 54px;
    }
    .arrondi input{
        height: 54px;
        width: 370px;
    }
    .arrondi input:focus{
    border: 1px solid blueviolet;
    height: 49px;
}
    .rond button{
        width: 150px;
        height: 54px;
    }

    .search{
        width: 54px;
        height: 54px;
    }
    .search img{
        width: 30px;
    }
    .filter button{
        width: 160px;
        height: 54px;
    }
    .show img{
        height: 50px;
        width: 50px;
    }

    .back_img{
        width: 100%;
        height: 309px;
    }

    .valider{
    height: 70px;
    
    }
    .valider button{
        gap: 5px;
    }
    .valider img{
        height: 50px;
    }

}